extends layout


block content
    div#ember-app
    script(type="text/x-handlebars",data-template-name="application")
        include templates/application.hbs
    script(type="text/x-handlebars",data-template-name="index")
        include templates/index.hbs
    script(type="text/x-handlebars",data-template-name="test/index")
        include templates/test.hbs
    script(type="text/x-handlebars",data-template-name="test/start")
        include templates/testStart.hbs
    script(type="text/x-handlebars",data-template-name="testSession")
        include templates/testSession.hbs
    script(type="text/x-handlebars",data-template-name="testComplete")
        include templates/testComplete.hbs
    script(type="text/x-handlebars",data-template-name="editor")
        include templates/testEditor.hbs
    script(type="text/x-handlebars",data-template-name="components/markdown-component")
        include templates/markdownComponent.hbs
    script(type="text/x-handlebars",data-template-name="components/markdown-editor")
        include templates/markdownEditor.hbs
    script(type="text/x-handlebars",data-template-name="components/markdown-answer")
        include templates/markdownAnswer.hbs

block scripts
    script(src='/bower_components/ember/ember-template-compiler.js')
    script(src='/bower_components/ember/ember.min.js')
    script(src='/bower_components/ember-data/ember-data.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/moment-duration-format/lib/moment-duration-format.js')
    script(src='/bower_components/marked/lib/marked.js')
    script(src='/bower_components/codemirror/lib/codemirror.js')
    script(src='/bower_components/codemirror/mode/markdown/markdown.js')
    script(src='/javascripts/lib/Hyphenator.js')
    script(src='/javascripts/app.js')

    link(rel='stylesheet', href='/bower_components/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/bower_components/codemirror/theme/mdn-like.css')


