extends layout

block content
    h1 Test
    div#ember-app
    script(type="text/x-handlebars",data-template-name="index")
        include templates/index.hbs
    script(type="text/x-handlebars",data-template-name="test")
        include templates/test.hbs

block scripts
    script(src='/bower_components/ember/ember-template-compiler.js')
    script(src='/bower_components/ember/ember.min.js')
    script(src='/bower_components/ember-data/ember-data.min.js')
    script(src='/javascripts/app.js')

