extends layout

block content
    h1 Hire the cream of the crop
    p Looking to hire, but having trouble telling the good candidates from the bad? The solution is here!
    p Preinterview-test makes it easy to filter the software gurus from rest.
    h2 It's easy!
    p Just create an assesment test, and publish a link to it on the job description.

    a(href="/request-quote").btn.btn-primary Request a quote