doctype html
html(lang="en")
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=yes")
    title Preinterview Test
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
  body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") Preinterview Test

            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li(class=activeTab=='job-seekers'?'active':undefined)
                        a(href="/job-seekers") For job-seekers
                    li(class=activeTab=='for-employers'?'active':undefined)
                        a(href="/for-employers") For employers
    .container
        block content
    script.
        var isLocalServer = window.location.href.indexOf('localhost') > -1;

        if (isLocalServer) {
            // Reload the page when the server restarts
            var socket = io();
            socket.on('disconnect', function() {
                setTimeout(function() {
                    location.reload();
                }, 200);
            });
        }

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

    block scripts

