@import url('http://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700,700italic');
@import url('http://fonts.googleapis.com/css?family=Roboto+Mono');

body
  padding-top: 60px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

h1, h2, h3, h4, h5, h6
    font-family: 'Roboto', sans-serif;

h1, h2
    font-weight: 300

h3
  font-weight: 500
  font-size: 18px

.alert a {
  text-decoration: underline;
}

.heading-note
  font-size: 0.85em
  text-align: right
  margin-top: -20px;

.markdown-editor
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;

.question
    font-family: 'Roboto Slab', serif;
    text-align: justify;

.answer-html
    font-family: 'Roboto', sans-serif;
    h1
        font-weight: 700
        font-size: 20px
    h2
        font-weight: 700
        font-size: 17px
    h3
        font-weight: 700
        font-size: 15px

pre, code
    font-family: 'Roboto Mono', monospace;

.header-anchor
  display: block; position: relative; top: -70px; visibility: hidden;

.btn
  min-width: 100px
.btn-simple
  &:hover
    background-color: gray

.answer-well.clickable
  cursor: pointer
  &:hover
    background-color: #f4f1ec